[Unit]
Description=triggerhappy global hotkey daemon
After=local-fs.target

[Service]
Type=notify
#ExecStart=/usr/sbin/thd --triggers /etc/triggerhappy/triggers.d/ --socket /run/thd.socket
# Use wrapper script to open all available devices on startup
ExecStart=/usr/lib/triggerhappy/thd_startup --triggers /etc/triggerhappy/triggers.d/ --socket /run/thd.socket
