# open new input devices and pass the file descriptor to the triggerhappy daemon
ACTION=="add", SUBSYSTEM=="input", SYSFS{name}!="triggerhappy", RUN+="/usr/sbin/th-cmd --socket /var/run/thd.socket --passfd --udev"
