# open new input devices and pass the file descriptor to the triggerhappy daemon
ACTION=="add", SUBSYSTEM=="input", RUN+="/usr/sbin/th-cmd /var/run/thd.socket udev-fd"
