Source: triggerhappy
Section: admin
Priority: extra
Maintainer: Stefan Tomanek <stefan.tomanek+th@wertarbyte.de>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://github.com/wertarbyte/triggerhappy
Vcs-Git: git://github.com/wertarbyte/triggerhappy.git
Vcs-Browser: http://github.com/wertarbyte/triggerhappy

Package: triggerhappy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: global, user and session independent hotkey daemon
 Triggerhappy observes all connected input devices and launches
 configured commands when certain keys are pressed. The daemon
 works as a system wide service and is independent of any user
 session.
